body {
    font-family:Orelega One;
    font-size: 30px;
    font-weight: 400;
	font-style: normal;
	line-height: normal;
	background-color: #3F4F04;
}

button{
	color: #FFF;
	border-radius: 17px;
	background: #3F4F04;
}

button:hover{
	background-color: rgb(100, 125, 10)

}

button:active{
	background-color: #2B3603;
}

.conteiner{
    padding:0 59px;
    margin: 0 auto;
}

p{
	font-size: 30px;
}

.img img{
	width: 100%;
	height: 100%;
}


.title{
	padding: 45px 0;
	text-align: center;
	font-size: 100px;
	color: #FFF;
	
}



/* Header */

.header {
    padding:20px 0;
    width: 100%;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Logo {
	color: #FFF;
    font-size: 50px;
	flex-shrink: 0;
}

.header__nav ul{
    display: flex;
}


.header__nav li + li {
    margin-left: 40px;
}

a{
    color: #FFF;
	font-size: 30px;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	outline: none;
	transition: .5s linear;
}

a:hover{
    color: #4F80A8;
}

a:active{
    color: #4F80A8;
}


.topmenu > li {
	display: inline-block;
	margin-right: 0px;
	position:relative;
}
.topmenu > li:last-child {
		margin-right: 0;
}

.submenu {
	visibility: hidden;
	opacity: 0;
	background:  #3F4F04;
}
ul li:hover .submenu {
	visibility: visible;
	opacity: 1;
}

.fa {
	color: #3F4F04;
	padding-left: 10px;
}
.submenu {
	position:absolute;
	top: 100%;
	left: 0px;
	width: 100%;


}
ul {
	list-style: none; 
	margin: 0;
	padding: 0;
}



/* _______Штука с Картинкой и текстом________ */

.imgfon{
	background-image: url(../image/slaid1.png);
	width: 100%;
	height: 700px;

}
.imgfon2{
	background-image: url(../image/slaid2.png);
	width: 100%;
	height: 700px;

}

.imgfon3{
	background-image: url(../image/slaid3.png);
	width: 100%;
	height: 700px;

}

h1{
	color: #FFF;
	font-size: 80px;
}

.obolochka{
	padding-top: 15%;
}

.text{
	width: 540px;
}

.textkv p{
	color: #FFF;
}

.textkv{
	background-color: #3f4f0480;
	width: 700px;
	height: 295px;
}



/* <!-- _______________Достопримечательности____________ --> */

.title{
	padding: 45px 0;
	text-align: center;
	font-size: 100px;
	color: #FFF;
	
}

.card{
	width: 380px;
	height: auto;
	background-color: #FFF;
	border-radius: 17px;
	margin: 0px 30px 30px 0px;
	display: inline-block;
}

.cards{
	border-spacing: 20px 20px;
	display: flex;
  	justify-content: center;
}


h3{
	font-size: 40px;
	padding: 5px 35px;
}


.card .p {
	padding: 0 35px;
	font-size: 28px;
}



.card img{
	width: 100%;
	height: 200px;
	border-radius: 17px;
}


/* ПОдвал с детьми */
footer{
	
	display: flex;
	height: auto;
	justify-content: center;
}

.section1{
	margin: 20px 90px;
	width: 340px;
	display: inline-block;
	vertical-align: top;
}
.section1 h4{
	padding: 20px 0;
	text-align: center;
	font-size: 40px;
	color: #FFF;
}

input{
	border-radius: 50px;
	width: 340px;
	padding: 5px 0;
	text-align: center;
	text-size-adjust: 0px;
}

.section1 .footer{
	margin: 10px 0;
	padding: 5px ;
	width: 340px;
	border-radius: 50px;
	background-color: #4F80A8;
	text-size-adjust: 30px;
}

.section1 .footer:hover{
	background-color: #5EABEA;
}



.section1 .footer:active{
	background-color: #33526C;
}







li a{
    color: #ffffff;
	font-size: 30px;
}


.section2 a{
	padding: 10px 0;
}
a:hover{
    color: #4F80A8;
}

a:active{
    color: #4F80A8;
}

.section2{
	margin: 20px 50px;
	width: 230px;
	display: inline-block;

}

.section2 h4{
	padding: 20px 0;
	text-align: left;
	font-size: 40px;
	color: #FFF;
}

.section3{
	margin: 50px 50px;
	width: 200px;
	display: inline-block;
	height: auto;
}

.bt{
	margin: 30px 0px;
	padding: 10px 10px;
	background-color: #4F80A8;
}

.bt:hover{
	background-color: #5EABEA;
}


.bt:active{
	background-color: #33526C;
}
.section3 img{
	margin: 0 2px;
}

.section3 img:first-child:hover{
	background-color: #4bc712af;
	
}


.section3 a .s:hover{
	background-color: #5EABEA;
	
}

.section3 a .t:hover{
	background-color: #000000bb;
	
}
.section3 .a{
	display:inline;
	padding: 0;
}

/* Черная полоса */
.black{
	width: 100%;
	background-color: #000;
}

h5{
	color: #FFF;
	text-align: center;
	font-size: 20px;
	padding: 10px 0;
}
/* Черная полоса */
.black{
	width: 100%;
	background-color: #000;
}

h5{
	color: #FFF;
	text-align: center;
	font-size: 20px;
	padding: 10px 0;
}

@media(max-width:390px){
	.conteiner{
		padding: 0 25px;
	}
	
	.li{
		padding: auto 10px;
	}
	
	li a{
		font-size: 17px;
		padding: 0 15px;
	}
	.Logo{
		font-size: 30px;
		
	}
	
	ul div {
		font-size: 60px;
		padding-top: 50%;
		text-align: center;
	}
	ul div button{
		transition: .5s linear;
		color: #FFF;
		margin-left: 0px;
		margin-right: 0px;
		padding: 18px 30px;
		border-radius: 17px;
		background: #3F4F04;
		font-size: 35px
	}

	h1{
		font-size: 60px;
		text-align: center;
	}
	.textkv p{
		text-align: center;
	}

	.text{
		width: auto;
	}

	.textkv{
		width: auto;
		height: auto;
		padding: 10px;
	}

	.obolochka{
		padding-top: 50%;
		padding-bottom: 50%;
	}

	
	.title{
		font-size: 60px;
		padding: 20px 0;
		text-align: center;
		width: auto;
		word-break: break-all;
  		white-space: normal;
		padding: 0 13px;
	}
	.cards{
		display:block;
	}
	
	.card{
		padding: 0 auto;
		margin: 7% auto;
		display: block;
		width: 310px;
	}

	
	
	footer{
		width: 100%;
		display: block;
		height: auto;
	}
	.section1{
		padding: 0 auto;
		margin: 0 auto;
		display: block;
		width: 340px;
	}
	
	
	footer h4{
		font-size: 35px;
		text-align: center;
	}
	footer a{
		font-size: 25px;
	}
	.section2{
		margin: 5% 35px;
	}
	.section3{
		padding: 0 auto;
		margin: 0 auto;
		display: block;
	}

}
@media(max-width:500px){
	.conteiner{
		padding: 0 25px;
	}
	
	.li{
		padding: auto 10px;
	}
	
	li a{
		font-size: 17px;
		padding: 0 15px;
	}
	.Logo{
		font-size: 30px;
		
	}
	
	ul div {
		font-size: 60px;
		padding-top: 50%;
		text-align: center;
	}
	ul div button{
		transition: .5s linear;
		color: #FFF;
		margin-left: 0px;
		margin-right: 0px;
		padding: 18px 30px;
		border-radius: 17px;
		background: #3F4F04;
		font-size: 35px
	}
	.imgfon{
		height: 900px;
		background-image: url(../image/adap1.jpg);
	}
	.imgfon2{
		height: 900px;
		background-image: url(../image/adap2.jpg);
	}
	.imgfon3{
		height: 900px;
		background-image: url(../image/adap3.jpg);
		
	}
	h1{
		font-size: 60px;
		text-align: center;
	}
	.textkv p{
		text-align: center;
	}

	.text{
		width: auto;
	}

	.textkv{
		width: auto;
		height: auto;
		padding: 10px;
	}

	.obolochka{
		padding-top: 50%;
		padding-bottom: 50%;
	}

	
	.title{
		font-size: 60px;
		padding: 20px 0;
		text-align: center;
		width: auto;
		word-break: break-all;
  		white-space: normal;
		padding: 0 13px;
	}
	.cards{
		display:block;
	}
	
	.card{
		padding: 0 auto;
		margin: 7% auto;
		display: block;
		width: 310px;
	}

	
	
	footer{
		width: 100%;
		display: block;
		height: auto;
	}
	.section1{
		padding: 0 auto;
		margin: 0 auto;
		display: block;
		width: 340px;
	}
	
	
	footer h4{
		font-size: 35px;
		text-align: center;
	}
	footer a{
		font-size: 25px;
	}
	.section2{
		margin: 5% 35px;
	}
	.section3{
		padding: 0 auto;
		margin: 0 auto;
		display: block;
	}

}

